launch.application$Boolean=false
rmiPort$Long={{jira_server_port}}
app.jiraHome={{jira_home_dir}}
app.install.service$Boolean=false
existingInstallationDir={{jira_install_dir}}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{jira_install_dir}}
executeLauncherAction$Boolean=true
httpPort$Long={{jira_connector_port}}
portChoice=custom